<form action="signup" method="POST" >

  <label>Username</label>
  <input name="username" type="text"  placeholder="Enter your Username"  >

  <label>Password</label>
  <input name="password" type="password"  placeholder="Enter your Password"  >
  <button type="submit" >Sign Up</button>
</form>

{{#if msg}}

<div class="error">{{msg}}</div>

{{/if}}